.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}


.left-panel {
    width: 50%;
  background-color: #e9f8fd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
}

.profile {
  width: 50%;
  /* max-width: 600px; */
  height: 47%;
  border-radius: 50%;
}

.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  gap: 20px;
  padding: 350px;

}

.logo{
width: 140px;
height: 20px;
}
