.WrapperContainer{
    display: flex;
    width: 550px;
}

.inputWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  gap: 20px;
  padding: 12px;
} 


.inputdiv {
  height: 100px;
  width: 250px;
}



