.formgroup {
background-color: white;
height: 100%;
display: flex;
flex-direction: column;
padding: 40px;
gap:40px;
box-shadow: 1px 1px 1px #0000005a;
border-radius: 10px;
}

.editparentclass {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 60px;
}

.AddressContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.twobuttonform{
 
 display: flex;
 gap: 30px;
}

