
.button {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  gap:20px;
}

.button--primary {
  background-color: #03AEEE;
  color: white;
  padding: 8px 16px;
}

.button--primary:hover {
  background-color: #0056b3;
}

.button--secondary {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #dee2e6;
  padding: 8px 16px;

}

.button--secondary:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
} 
/* .loginbutton {
  width: 550px;
} */

.button--icon-button {
  background-color:#EAF9FF;
  width: 200px;
  border-radius: 25px;
}
.button-icon-bk {
  background-color: #03AEEE;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text-bk {
  display: flex;
  align-items: center;
  justify-content: center;
}