.formgroup {

    display: flex;
    gap: 20px
}


.parentclass {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px;
    background-color: white;
    padding: 20px;

}

.AddressContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form-group-submit{
    margin-top: 20px;
    display: flex;
    padding: 50px;
}
