.formgroup {
background-color: white;
height: 100%;
display: flex;
flex-direction: column;
padding: 40px;
gap:40px;
}


.parentclass {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.AddressContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.twobuttonform{
 
 display: flex;
 gap: 30px;
}
